<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{% static 'music/favicon.ico' %}"/>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!--  for creative fonrs from googleapis-->
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <!--  user defined style sheet should always be after bootstrap style sheet-->
    <link rel="stylesheet" href="{% static 'music/css/style.css' %}"/>
    {% block extra_head %}{% endblock %}


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- user defined js -->
    <script src="{% static 'music/js/main.js' %}"></script>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'music:index'%}" style="font-family:Lobster,cursive;color:#f18989;" color="red">R's Music Collection</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav">
            <li class="{% block album_active %}{% endblock %}"><a href="{% url 'music:index' %}"><span class="glyphicon glyphicon-cd"></span>&nbsp; Albums</a></li>
            <li class="{% block songs_active %}{% endblock %}"><a href="{% url 'music:all_songs'%}"><span class="glyphicon glyphicon-music"></span>&nbsp; Songs</a></li>
            <li class="{% block all_favorite_songs_active %}{% endblock %}"><a href="{% url 'music:all_favorite_songs'%}"><span class="glyphicon glyphicon-heart"></span>&nbsp; Favorite Songs</a></li>
          </ul>
          <form class="navbar-form navbar-left" action="#" role="search">
            <div class="form-group">
              <input type="text" class="form-control" name="query" placeholder="Search">
            </div>
            {% csrf_token %}
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
          </form>
          <ul class="nav navbar-nav navbar-right">
              <li class="active" class="dropdown"><a data-toggle="dropdown" aria-expanded="false" href="#" class="dropdown-toggle"><span class="glyphicon glyphicon-user"></span>&nbsp; {{request.user}} <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><a href="#">Profile</a></li>
                      <li role="presentation"><a href="#">Settings</a></li>
                  </ul>
              </li>
              <li class=""><a href="#"><span class="glyphicon glyphicon-off">&nbsp;</span></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
{% block body %}{% endblock %}
  </body>
</html>
